@import url(./assets/css/bootstrap.min.css);
@import url(./assets/css/animated.css);
@import url(./assets/css/icons.css);
@import url(./assets/css/app.css);

.plan-price {
  margin: auto;
  width: max-content;
  padding: 30px 0;
}
ul.plan-items {
  padding: 14px;
}
/* .orang-box-shadow {
  box-shadow: 1px 0px 20px 1px rgb(174 44 44 / 5%),
    0px 0px 20px 0px rgb(0 0 0 / 6%);
} */
.orang-box-shadow {
  box-shadow: 1px 0px 20px 1px rgb(174 44 44 / 7%),
    0px 0px 20px 0px rgb(0 0 0 / 6%);
}
.orang-box-shadow:hover,
.orang-box-shadow:focus {
  box-shadow: 0px 0px 18px 0 rgb(50 50 50 / 9%),
    0px 0px 20px -1px rgb(50 50 50 / 5%), 0px 0px 20px 0 rgb(50 50 50 / 14%) !important;
  transition: all 0.2s;
}

.template i {
  color: #fe4e00 !important;
}

.b-radius-none {
  border-radius: 0px !important;
}
.hover\:text-white:focus,
.hover\:text-white:hover {
  color: #ffffff !important;
}
.btn-asp-blue {
  background-color: #5171a5;
  border-color: #5171a5;
}

.tabs-menu-body .card {
  box-shadow: 0 0 20px 0px rgb(33 33 33 / 14%);
  transition: all 0.2s;
}

#prices-wrapper .card:hover,
#prices-wrapper .card:focus {
  box-shadow: 0px 0px 18px 0 rgb(50 50 50 / 9%),
    0px 0px 20px -1px rgb(50 50 50 / 5%), 0px 0px 20px 0 rgb(50 50 50 / 14%) !important;
  transition: all 0.2s;
}
