@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap);

@import url("./icons/fontawesome.min.css");
@import url("./icons/brands.min.css");
@import url("./icons/regular.min.css");
@import url("./icons/solid.min.css");
