/* ==========================================================================           
 *
 *    PRICES SECTION STYLES
 *
 * ========================================================================== */
#prices-wrapper {
  padding: 0 0 64px 0;
  background-color: #fff;
}
#prices-wrapper .title h6 {
  font-size: 16px;
  font-weight: 800;
}
#prices-wrapper .title h6 span {
  color: #fe4e00;
}
#prices-wrapper .title p {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
#prices-wrapper .tabs-menu ul {
  padding: 5px 7px;
  background: #f5f9fc;
  border-radius: 1.5rem;
}
#prices-wrapper .tabs-menu ul li a {
  width: auto;
  text-transform: none;
}

#prices-wrapper .card:hover .plan-cost,
#prices-wrapper .card:focus .plan-cost {
  color: #fe4e00;
}
#prices-wrapper .card:hover .prepaid-plan .plan-cost,
#prices-wrapper .card:focus .prepaid-plan .plan-cost {
  color: rgb(102, 102, 102);
}
#prices-wrapper .card:hover .prepaid-plan .plan-title,
#prices-wrapper .card:focus .prepaid-plan .plan-title {
  color: #fe4e00;
}
#prices-wrapper .card .plan {
  min-height: 486px;
}
#prices-wrapper .card .plan-cost {
  font-size: 40px;
  font-weight: 800;
  color: rgb(102, 102, 102);
  padding-left: 17px;
  padding-right: 5px;
  font-family: "Open Sans", sans-serif;
}
#prices-wrapper .card .welcome-plan-currency-sign {
  font-size: 20px;
  margin-bottom: 20px;
  position: absolute;
  top: 25px;
  color: #ccc;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}
#prices-wrapper .card .divider {
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  height: 3px;
  width: 40px;
}
#prices-wrapper .card .plan-title {
  font-size: 24px;
  font-weight: 800;
  font-family: "Open Sans";
  margin-bottom: 1rem;
}
#prices-wrapper .card ul li {
  margin-bottom: 0.3rem;
}
#prices-wrapper .card ul li i {
  margin-right: 0.3rem;
}
