@import url(./assets/css/base.css);
@import url(./assets/css/utils.css);
@import url(./assets/css/bootstrap.min.css);
@import url(./assets/css/app.css);
@import url(./assets/css/fonts-icons.css);

#main-wrapper .text-container h1 span {
  color: var(--primary);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.66em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: var(--text-primary);
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 46px;
}
.bg-primary {
  background-color: var(--primary);
}
/*===========================================
---------------------------------------------
=============================================*/
.plan-price {
  margin: auto;
  width: max-content;
  padding: 30px 0;
}
ul.plan-items {
  padding: 14px;
}
/* .orang-box-shadow {
  box-shadow: 1px 0px 20px 1px rgb(174 44 44 / 5%),
    0px 0px 20px 0px rgb(0 0 0 / 6%);
} */
.orang-box-shadow {
  box-shadow: 1px 0px 20px 1px rgb(174 44 44 / 7%),
    0px 0px 20px 0px rgb(0 0 0 / 6%);
}
.orang-box-shadow:hover,
.orang-box-shadow:focus {
  box-shadow: 0px 0px 18px 0 rgb(50 50 50 / 9%),
    0px 0px 20px -1px rgb(50 50 50 / 5%), 0px 0px 20px 0 rgb(50 50 50 / 14%) !important;
  transition: all 0.2s;
}

.b-radius-none {
  border-radius: 0px !important;
}
.hover\:text-white:focus,
.hover\:text-white:hover {
  color: #ffffff !important;
}
.btn-asp-blue {
  background-color: #5171a5;
  border-color: #5171a5;
}

.tabs-menu-body .card {
  box-shadow: 0 0 20px 0px rgb(33 33 33 / 14%);
  transition: all 0.2s;
}

#prices-wrapper .card:hover,
#prices-wrapper .card:focus {
  box-shadow: 0px 0px 18px 0 rgb(50 50 50 / 9%),
    0px 0px 20px -1px rgb(50 50 50 / 5%), 0px 0px 20px 0 rgb(50 50 50 / 14%) !important;
  transition: all 0.2s;
}

/* border redus  */
.round-none {
  border-radius: var(--round-none);
}
.round-full {
  border-radius: var(--round-full);
}
.round-normal {
  border-radius: var(--round-noraml);
}
.round-medium {
  border-radius: var(--round-medium);
}
.round-0 {
  border-radius: 0;
}
.round-3px {
  border-radius: 3px;
}
.round-6px {
  border-radius: 6px;
}
.round-10px {
  border-radius: 10px;
}
.round-15px {
  border-radius: 15px;
}
.round-20px {
  border-radius: 20px;
}
.round-50px {
  border-radius: 50px;
}
.round-100px {
  border-radius: 100px;
}
.pb-7\.5 {
  padding-bottom: 60px;
}
